#include "../../colortheme.h" 

.login-container {
  background-color: PRIMARY_BG_2;
  height: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

/* "responsive styles" */
@media only screen and (min-width: 500px) {
  .login-wrap {
    display: flex;
  }

  .login-radix-logo {
    writing-mode: tb-rl;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
  }

  .logo-wrap {
    border-radius: 5px 0px 0px 5px;
    border: 2px solid PRIMARY_BG_2;
    display: grid;
  }
}

@media only screen and (max-width: 499px) {
  .login-wrap {
    display: flex;
    flex-direction: column;
  }

  .login-radix-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
  }

  .logo-wrap {
    border-radius: 5px 5px 0px 0px;
    border: 2px solid PRIMARY_BG_2;
    display: grid;
  }
}

@media only screen and (max-width: 390px) {
  body {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 1100px) {
  body {
    transform-origin: center;
    transform: scale(1.2);
    width: 82.6%;
    height: 80%;
  }
}
