#include "../../colortheme.h" 

.login-container {
  background-color: PRIMARY_BG_2;
  height: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  max-width: 360px;
}

.login-cont-align {
  margin-left: 5px;
}

.logo-wrap {
  border: 2px solid PRIMARY_BG_2;
  display: grid;
}

.login-radix-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  justify-self: center;
}

/* "responsive styles" */
@media only screen and (min-width: 500px) {
  .login-wrap {
    display: flex;
  }

  .login-radix-logo {
    writing-mode: tb-rl;
    min-height: 100%;
  }

  .logo-wrap {
    border-radius: 5px 0px 0px 5px;
  }
}

@media only screen and (max-width: 499px) {
  .login-wrap {
    display: flex;
    flex-direction: column;
  }

  .login-radix-logo {
    writing-mode: horizontal-tb;
  }

  .logo-wrap {
    border-radius: 5px 5px 0px 0px;
  }
}

@media only screen and (max-width: 390px) {
  body {
    align-items: flex-end;
    justify-content: flex-end;
  }

  .login-container {
    min-width: 100%;
  }

  .login-wrap {
    min-width: 100%;
  }
}


