#define CONTENT_MAX_WIDTH 600px 

strong {
  color: PRIMARY_BUTTON_BG;
}

body {
  justify-content: center;
  flex-direction: column;
}

section {
  transition: all 0.3s;
  height: 0%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 600px) {
  section {
    width: CONTENT_MAX_WIDTH;
    }
}

@media only screen and (max-width: 600px) {
  section {
    width: 100%;
    }
}

section.active {
  height: 80%;
}

nav {
  text-align: center;
  border: 2px solid PRIMARY_BG_2;
  max-width: CONTENT_MAX_WIDTH;
  border-radius: 5px;
  grid-auto-flow: column;
  align-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
  nav {
    display: grid;
    }

    nav a {
      padding: 10px;
    }
    
}

@media only screen and (max-width: 600px) {
  nav {
    display: block;
    }

    nav a {
      padding: 0px 5px 0px 5px;
    }
}

nav a {
  color: FONT_COLOR;
  text-wrap: nowrap;
  font-weight: 400;
}

nav a.active {
  background-color: PRIMARY_BG_2;
  /* color: PRIMARY_BUTTON_BG; */
  /* color: SECONDARY_FONT_COLOR; */
  border-radius: 3.5px;
}

.chat-content-wrap {
  align-self: center;
  /* margin: 40px; */
  padding: 40px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.chat-header-wrap {
  max-width: CONTENT_MAX_WIDTH;
}

.chat-header {
  border: 2px solid PRIMARY_BG_2;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
}

.chat-header h1 {
  margin-top: 0px;
}

.chat-header p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.tda-topic-title {
  margin: 0px 0px 0px 1px;
}

.chat {
  height: 100%;
  border-left: 2px solid PRIMARY_BG_2;
  border-right: 2px solid PRIMARY_BG_2;
  overflow-y: scroll;
}

.chat-info {
  text-align: center;
  font-style: italic;
}

.desc {
  padding-left: 5px;
  border-left: 2px solid SECONDARY_BG;
  margin-left: 3px;
}

.chat-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-input-wrap {
  max-width: CONTENT_MAX_WIDTH;
}

.chat-input {
  display: flex;
  position: relative;
  /* text-align: left; */
  justify-content: center;
  align-items: center;
}

.msg-input-buttons {
  justify-content: center;
  position: absolute;
  gap: 5px;
  right: 0;
  margin-right: 10px;
  /* margin: 0px 20px 7px 0px; */
  display: none;
}

.msg-input-buttons svg {
  border: none !important;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-out;
  /* color: SECONDARY_BG; */
  cursor: pointer;
}

.msg-input-buttons svg:hover {
  transform: rotate3d(1, 1, 1, 10deg);
}

.chat-input textarea:focus ~ .msg-input-buttons svg {
  /* color: PRIMARY_BG_1; */
}

.chat-input textarea:hover ~ .msg-input-buttons svg {
  /* color: PRIMARY_BG_1; */
}

.chat-input-inner-wrap {
  border: 2px solid PRIMARY_BG_2;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

.chat-input .svg-r {
  padding: 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@keyframes svg-r-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.chat-input .svg-c {
  padding: 12px;
  border-radius: 5px;
}

.chat-input .svg-l {
  padding: 12px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@keyframes svg-l-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.chat-input > svg {
  cursor: pointer;
  border: 2px solid PRIMARY_BG_2;
  transition: all 0.3s;
}

.chat-input > svg:hover {
  outline: none; /* Remove default outline */

  /* color: PRIMARY_BG_1; */
  background: SECONDARY_BG;
}

textarea#desc {
  outline: none;
  resize: none;

  padding: 10px;
  margin: 5px;
  color: FONT_COLOR;
  background: PRIMARY_BG_1;
  font-size: 15px;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  transition: all 0.3s;
  min-width: 180px;
  /* text-align: center; */
  border: 2px solid PRIMARY_BG_2_DARK;
  border-radius: 5px;

  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

textarea#desc:hover {
  outline: none; /* Remove default outline */
  background: SECONDARY_BG;
}

.chat-input textarea {
  flex: 1;
  outline: none;
  resize: none;

  padding: 10px;
  color: FONT_COLOR;
  background: PRIMARY_BG_1;
  font-size: 15px;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  transition: all 0.3s;
  min-width: 180px;
  /* text-align: center; */
  border-top: 2px solid PRIMARY_BG_2;
  border-bottom: 2px solid PRIMARY_BG_2;
  border-left: none;
  border-right: none;
  border-radius: 0px;

  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

.chat-input textarea::-webkit-scrollbar {
  display: none;
}

.chat-input textarea:focus,
.chat-input textarea:hover {
  /* color: PRIMARY_BG_1; */
  background: SECONDARY_BG;
  outline: none;
}

.chat-input textarea::placeholder {
  color: FONT_COLOR;
}

.chat-input textarea:focus::placeholder,
.chat-input textarea:hover::placeholder {
  /* color: PRIMARY_BG_1; */
}

.display-inner {
  border: 2px solid PRIMARY_BG_2;
  padding: 10px;
  border-radius: 5px;
}

.threads-display {
  width: 25%;
}

.threads-display ul {
  list-style-type: disclosure-closed;
  margin-block-start: 5px;
  margin-block-end: 0px;
  /* margin-inline-start: 0px; */
  /* margin-inline-end: 0px; */
  padding-inline-start: 22px;
  user-select: none;
}

.threads-display svg {
  cursor: pointer;
  transition: all 0.3s;
}

.threads-display li span {
  font-weight: 600;
  cursor: pointer;
  position: relative;

  line-break: anywhere;
}

.threads-display li span:hover:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Adjust as needed */
  background-color: PRIMARY_BUTTON_BG; /* Adjust border color */
  animation: border-grow 0.7s ease-out 0s 1; /* Apply animation */
}

@keyframes border-grow {
  0% {
    width: 0; /* Start with no width */
  }
  100% {
    width: 100%; /* End with width equal to element's width */
  }
}

.threads-display svg:hover {
  transform: rotate3d(1, 1, 1, 10deg);
}

.display-inner-top {
  align-self: flex-start;
}

.display-inner-bottom {
  align-self: flex-start;
}

.statements-display {
  width: 25%;
  display: grid;
  align-content: space-between;
}

.statements-display ul {
  list-style-type: none;
  margin-block-start: 5px;
  margin-block-end: 0px;
  padding-inline-start: 2px;
}

q {
  margin-top: 15px;
  border-left: 2px solid FONT_COLOR;
  padding-left: 10px;
  line-height: 25px;
  display: block;
}

q:before {
  display: none;
}

q:after {
  display: none;
}

q-creator {
  color: FONT_COLOR_2;
  display: block;
  padding-left: 13px;
  line-height: 12px;
}

q-creator:before {
  content: "~ ";
}

.account-image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
}

.account-image img {
  height: 200px;
}

.uname-inf {
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% + 15px);
}

.uname-inf h1,
.uname-inf p {
  margin: 0px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  padding: 0px;
  width: calc(100% + 13px);
}

.msg-storage {
  display: grid;
}

/* settings */

.sectionc {
  border: 2px solid PRIMARY_BG_2;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.sectionc.settings h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.sectionc.settings p {
  margin-bottom: 35px;
  margin-top: 0px;
}

.sectionc-wrap {
  height: 100%;
  max-width: 600px;
}

.sectionc-wrap h1 {
  margin-top: 0px;
}

/* avatar preview */
.avatar-preview {
  height: 70px;
  width: 70px;
  min-width: 50px;
  border-radius: 35px;
  user-select: none;
  background: PRIMARY_BG_2;
  overflow: hidden;
}

.avatar-preview img {
  height: 50px;
  width: auto;
}

.avatar-preview name {
  font-size: 43px;
  font-family: "Major Mono Display";
  margin-top: 11px;
  display: block;
  margin-left: 9px;
  letter-spacing: -11px;
}

/* private chats */
.private-chat-list {
  display: flex;
  justify-content: center;
  position: relative;
}

.image-hanger {
  position: absolute;
  width: 50px;
  height: 200px;
  background: PRIMARY_BG_1;
  left: 440px;
  border-radius: 5px;
}

.private-chat-list img {
  border-radius: 200px;
}

@media only screen and (min-width: 600px) {
  .private-chat-list img {
    width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .private-chat-list img {
    width: 170px;
  }
}

/* topics */
.proposal-confirmation-wrap {
  position: absolute;
  width: inherit;
  transition: all 0.2s ease-in;
  /* styles below only if not displayed */
  opacity: 0;
  z-index: -1;
  display: none;
}

.proposal-confirmation {
  border: 2px solid #a29d99;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  z-index: 3;
  position: relative;
}

.proposal-confirmation-backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  z-index: 2;
  transition: all 0.4s ease-out;
  /* styles below only if not displayed */
  display: none;
  backdrop-filter: none;
}

@keyframes shake {
   0% { transform: translateX(0); }
   10%, 30%, 50%, 70%, 90% { transform: translateY(-3px) rotate(3deg); }
   20%, 40%, 60%, 80% { transform: translateY(4px) rotate(-2deg); }
   100% { transform: translateX(0); }
}

.topic {
   animation: shake 0.5s ease-in-out; 
   animation-iteration-count: 1;
}