/* font faces derived from https://fonts.google.com/ */

@font-face {
  font-family: "Changa";
  src: url("/static/fonts/Changa-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Major Mono Display";
  src: url("/static/fonts/MajorMonoDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: url("/static/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}
