#include "../../colortheme.h" 

body {
  background-color: PRIMARY_BG_1;
  justify-content: space-between;
  flex-direction: column;
}

button {
  background-color: transparent;
}

.landing-wrap {
  background-color: #e4dfda;
  display: grid;
  justify-content: center;
  align-items: center;
  flex: 1;
}

header h1 {
  margin-bottom: 3px;
  margin-top: 0px;
}

header p {
  margin-bottom: 0px;
  margin-top: 0px;
}

footer a {
  color: PRIMARY_BG_1;
}
/* footer a:hover, footer a:active {
   color: FONT_COLOR_2;
} */

header logo {
  color: PRIMARY_BUTTON_BG;
}

footer {
  background: #3f3b38;
  bottom: 0px;
  backdrop-filter: invert(1);
  width: 100%;

  /* border-top: 2px solid PRIMARY_BG_2; */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.footer-wrap {
  margin: 15px;
}

.footer-inner-wrap {
  display: grid;
  grid-auto-flow: column;
}

@media only screen and (min-width: 600px) {
  .landing-header {
    border: 2px solid PRIMARY_BG_2;
    border-radius: 5px;
    padding: 90px;
  }
}

@media only screen and (max-width: 600px) {
  .footer-inner-wrap a {
    margin: 0px 10px 0px 10px;
  }
  .footer-inner-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  logo {
    display: block;
    margin-left: -3px;
    margin-bottom: 20px;
  }
}
